# Env
.env

# Nodejs
node_modules

# Vendor
theme/vendor

# Compiled assets
theme/assets/css

theme/templates/**/*.css
theme/templates/**/*.css.map

theme/page-templates/**/*.css
theme/page-templates/**/*.css.map

# Theme
*.zip
.php-cs-fixer.cache