@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../scss/mixins/center-content";

.social-links {
	&__link {
		@include center-content;

		width: 32px;
		height: 32px;
		color: $white;
		background-color: $primary;
		border-radius: 50%;
	}
}
